<center>
    <table class="table  table-success">
        <thead class=" table-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">user Name</th>
                <th scope="col">user detail</th>
                <th scope="col">image</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td><%= @user.name.html_safe %></td>
                <div class="bg-image hover-zoom">
                    <td><%= @user.details.html_safe %></td>
                </div>
                <td class="bg-image hover-zoom" ><%= image_tag(url_for(@user.image).html_safe, style: "width:100%; height:100%" ) %></td>
            </tr>
        </tbody>
    </table>
</center>


<style>
   
</style>