
<div class="container   body" >
    <table >
            <div class="container " style="color: black">
                <div class="row ">
                    <tr>
                            <td> <td><%= @product.name %></td></td>
                      
                             <td> <td><%= @product.price %></td></td>
                           
                    </tr>       
                </div >
                        
            </div>
    </table>    
</div>  
